body,
html {
  height: 100%;
  margin: 0;
  font-weight: 400;
}

.jum-header {
  background-color: #5e85bb;
  text-align: center;
}

.savepic1,
.savepic2,
.savepic3,
.savepic4 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.savepic1 {
  background-image: url("savepic3.jpg");
  min-height: 50%;
}
.savepic2 {
  background-image: url("savepic2.jpg");
  min-height: 400px;
}
.savepic3 {
  background-image: url("savepic1.jpg");
  min-height: 400px;
}
.savepic4 {
  background-image: url("savepic4.jpg");
  min-height: 400px;
}

.section-1,
.section-2,
.section-3 {
  text-align: center;
  padding: 50px 80px;
}

.on {
  margin-left: 86px;
}
.in {
  margin-left: 9px;
}
.time {
  margin-left: 12px;
}

.percentOfCheck {
  margin-right: 50px;
}

.goalAmount {
  margin-right: 14px;
}

.checkAmount {
  margin-left: 9px;
}
